@use "./components/crud";

body {
  background-color: rgb(43, 143, 86);
  #app {
    background-color: rgb(43, 143, 86);
    color: #000;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .home-page {
    background: url("../images/finder.png") no-repeat center;
  }
  .home-page,
  .product-page {
    width: 600px;
    height: 400px;
    border: 1px solid red;
    margin: 20px auto;
    background-color: white;
  }
  .swiper-container {
    height: 100%;
    overflow: hidden;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/javascript.svg") no-repeat;
  }
}
